/* default styles */
.login-page {
    width: 80vw;
    height: 500px;
    padding: 8% 0 0;
    margin: auto;
  }
  
  .form {
    background-image: url("../../Assets/login.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 600px;
  
    z-index: 1;
    max-width: 80%;
    height: 100%;
    margin: 0 auto 100px;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5px;
  }
  
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 40%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 8px;
  }
  
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #101540;
    width: 40%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .form button:hover,
  .form button:active,
  .form button:focus {
    background: #43A047;
  }
  
  .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  
  .message a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  /* media query for screens smaller than 768px */
  @media only screen and (max-width: 768px) {
    .login-page {
      width: 100vw;
      height: auto;
      padding: 10% 0 0;
    }
  
    .form {
      background-size: 400px;
      max-width: 90%;
      padding: 30px;
      margin-bottom: 50px;
    }
  
    .form input,
    .form button {
      width: 100%;
    }
  }
  
  /* media query for screens smaller than 480px */
  @media only screen and (max-width: 480px) {
    .login-page {
      padding-top: 15%;
    }
  
    .form {
      background-size: 200px;
      max-width: 100%;
      padding: 20px;
    }
  
    .form input,
    .form button {
      font-size: 12px;
    }
  }
  